---
layout: default
---
<head>
  <style>
    .background-image {
      background-image: url('https://bpic.588ku.com/back_origin_min_pic/19/10/22/307c65f25abb39c0cb3ac0def9f7b831.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 650px;
    }
  </style>
  </head>
  <body>
  <div class="background-image"></div>
  </body>

<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>

{{ content }}



<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  通讯地址
</button>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">{{ page.name }}的通讯地址</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 在这里添加一些文本 -->
          YunNan KunMing
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>